.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-main{
  height: 80vh;
  width: 300px;
  /*border: solid 20px red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-char{
  display: flex;
  width: 100%;
  margin-bottom:3%;
  justify-content: space-around;
}

.chart{
  width: 88%;
}



.more-info{
  width: 8%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}